{% extends "base.html" %}
{% load static %}
{% block title %}Eventos en Dirigentes{% endblock %}
{% block links %}
<link href="{% static 'DataTables/DataTables-1.12.1/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid px-4 {% if user.tema == 'dark' %}text-light{% else %}text-dark{% endif %}">
        <h1 class="mt-4">Eventos</h1>
        <ol class="breadcrumb mb-4 {% if user.tema == 'dark' %}text-body{% else %}text-secondary{% endif %}">
            <li class="breadcrumb-item">Registro sobre dirigentes</li>
        </ol>
        <div class="row">
            <div class="col-12 col-sm-4 mb-4">
                <div class="col-12 col-sm-3 d-flex flex-column justify-content-between gap-4 mb-4 h-100 w-100">
                    <div class="card bg-primary text-white h-100">
                        <div class="card-body d-flex align-items-center">Votantes dirigidos<span class="fs-5 fw-semibold ms-2">{{ votantes }}</span></div>
                    </div>
                    <div class="card bg-success text-white h-100">
                        <div class="card-body d-flex align-items-center">Dirigentes totales<span class="fs-5 fw-semibold ms-2">{{ dirigentes }}</span></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-8 mb-4">
                <div class="card mb-4 bg-{{ user.tema }} {% if user.tema == 'dark' %}text-white{% else %}text-dark{% endif %} h-100 shadow">
                    <div class="card-header">
                        <i class="fas fa-chart-column me-1"></i>
                        Eventos registrados
                    </div>
                    <div class="card-body"><canvas id="barChart" width="100%" height="100%" style="max-height: 200px;"></canvas></div>
                </div>
            </div>
        </div>

        <div class="card mb-4 {% if user.tema == 'dark' %}bg-dark text-light{% else %}bg-light text-dark{% endif %} shadow">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Eventos
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="eventosTable" class="table table-striped w-100 {% if user.tema == 'dark' %}table-dark{% else %}table-light{% endif %}"></table>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery-3.5.1.js' %}"></script>
<script src="{% static 'DataTables/DataTables-1.12.1/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'DataTables/DataTables-1.12.1/js/dataTables.bootstrap5.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#eventosTable').DataTable({
            language: {
                url: "{% static 'DataTables/es_ES.json' %}",
            },
            processing: true,
            serverSide: false,
            scrollX: true,
            ordering: true,
            lengthChange: false,
            pageLength: 10,
            info: false,
            order: [[0,'asc']],
            ajax: {
                url: "{% url 'datatable_eventos' 1 %}",
                method: 'GET',
            },
            columns: [
                {
                    data: "id",
                    name: "id",
                    title: "#",
                    className: "text-center",
                    visible: true,
                    searchable: true,
                },
                {
                    data: "objeto",
                    name: "objeto",
                    title: "Dirigente",
                    className: "text-start text-nowrap",
                    visible: true,
                    searchable: true,
                },
                {
                    data: "accion",
                    name: "accion",
                    title: "Acción",
                    className: "text-center text-nowrap",
                    visible: true,
                    searchable: true,
                },
                {
                    data: "mensaje",
                    name: "mensaje",
                    title: "Mensaje",
                    className: "text-center text-nowrap",
                    visible: true,
                    searchable: true,
                },
                {
                    data: "estado",
                    name: "estado",
                    title: "Estado",
                    className: "text-center text-nowrap",
                    visible: true,
                    searchable: true,
                },
                {
                    data: "fecha",
                    name: "fecha",
                    title: "Fecha",
                    className: "text-center text-nowrap",
                    visible: true,
                    searchable: true,
                },
            ],
            fnCreatedRow: function(elemt, data, iDataIndex) {
                $('td:eq(1)', elemt).addClass('fw-semibold');
                $('td:eq(1)', elemt).text(`
                    ${data.objeto[0].nombre} (${data.objeto[0].cedula})
                `);

                let estado = "";
                switch (data.estado) {
                    case "error":
                        estado = "Error"
                        break;
                    case "success":
                        estado = "Excitoso"
                        break;
                    case "warning":
                        estado = "Alerta"
                        break;
                    case "info":
                        estado = "Informativo"
                        break;
                }

                $('td:eq(4)', elemt).html(`
                    <span class="badge bg-${data.estado} p-2">${estado}</span>
                `)
            },
        });
    });
</script>

<script src="{% static 'Chart/package/dist/chart.umd.js' %}"></script>
<script type="text/javascript">
    let barLabels = [
        {% for evento in eventos %}
            '{{ evento.accion }}'{% if not forloop.last %}, {% endif %}
        {% endfor %}
    ]

    let barData = [
        {% for evento in eventos %}
            {{ evento.count }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    ]
    
    let barCtx = document.getElementById('barChart');
    const barChart = new Chart(barCtx, {
        type: 'bar',
        data: {
            labels: barLabels,
            datasets: [{
                label: 'Acción',
                data: barData,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)'
                ],
                borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                title: {
                    display: false,
                    text: '',
                },
                legend: {
                    display: false,
                }
            }
        },
    }); 
</script>
{% endblock %}